.PageContent {
  width: 1400px;
  height: 660px;
  box-sizing: border-box;
  overflow: auto;
  background: var(--bg);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  padding: 6px;
}

.SidePanel {
  display: grid;
  flex-direction: column;
}
