.Card {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 813px;
  height: 1185px;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}
.name {
  font-size: 92px;
  font-family: "MatrixRegularSmallCaps";
  color: rgb(0, 0, 0);
  text-align: justify;
  position: absolute;
  left: 44px;
  top: 60px;
  z-index: 55;
}
.attribute {
  position: absolute;
  left: 665px;
  top: 41px;
  width: 106px;
  height: 106px;
  z-index: 53;
}
.spellTrapType {
  font-size: 32px;
  font-family: "Yu-Gi-Oh!ITCStoneSerifSmallCaps";
  color: rgb(0, 0, 0);
  text-align: left;
  position: absolute;
  left: 172.57px;
  top: 853.73px;
  width: 536.27px;
  height: 27.38px;
  z-index: 44;
}
.spellTrapIcon {
  position: absolute;
  left: 55px;
  top: 785px;
  width: 103px;
  height: 103px;
  z-index: 40;
}
.spellTrapIconBG {
  position: absolute;
  left: 52px;
  top: 782px;
  width: 109px;
  height: 109px;
  z-index: 39;
}
.spellTrapEffect {
  font-size: 28px;
  font-family: "Yu-Gi-Oh! Matrix Book";
  color: rgba(0, 0, 0, 0.969);
  line-height: 1;
  text-align: justify;
  position: absolute;
  left: 55.52px;
  top: 901.38px;
  width: 701.23px;
  height: 181.64px;
  z-index: 24;
}
.level5 {
  position: absolute;
  left: 48px;
  top: 760px;
  width: 117px;
  height: 131px;
  z-index: 28;
}
.level4 {
  position: absolute;
  left: 48px;
  top: 760px;
  width: 117px;
  height: 131px;
  z-index: 28;
}
.level3 {
  position: absolute;
  left: 48px;
  top: 760px;
  width: 117px;
  height: 131px;
  z-index: 28;
}
.level2 {
  position: absolute;
  left: 48px;
  top: 760px;
  width: 117px;
  height: 131px;
  z-index: 28;
}
.level1 {
  position: absolute;
  left: 48px;
  top: 760px;
  width: 117px;
  height: 131px;
  z-index: 28;
}
.types {
  font-size: 32px;
  font-family: "Yu-Gi-Oh!ITCStoneSerifSmallCaps";
  color: rgb(0, 0, 0);
  text-align: left;
  position: absolute;
  left: 172.57px;
  top: 853.73px;
  width: 536.27px;
  height: 27.38px;
  z-index: 44;
}
.types .bracket {
  margin: 0 0.1em;
}
.types .separator {
  margin: 0 0.1em;
}
.monsterEffect {
  font-size: 28px;
  font-family: "Yu-Gi-Oh! Matrix Book";
  color: rgba(0, 0, 0, 0.969);
  line-height: 1;
  text-align: justify;
  position: absolute;
  left: 55.52px;
  top: 901.38px;
  width: 701.23px;
  height: 181.64px;
  z-index: 24;
}
.flavourText {
  font-size: 28px;
  font-family: "Yu-Gi-Oh! StoneSerif LT";
  color: rgba(0, 0, 0, 0.969);
  font-style: italic;
  line-height: 1;
  text-align: justify;
  position: absolute;
  left: 55.52px;
  top: 901.38px;
  width: 701.23px;
  height: 181.64px;
  z-index: 24;
}
.divLine {
  position: absolute;
  left: 69.42px;
  top: 1093.55px;
  width: 676.58px;
  height: 1.25px;
  z-index: 19;
}
.atkDefDivLine {
  position: absolute;
  left: 405.1px;
  top: 1102.92px;
  width: 2.8px;
  height: 25px;
  z-index: 20;
}
.atkLabel {
  font-size: 24px;
  font-family: "Ro GSan Serif Std";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 208px;
  top: 1106px;
  width: 44.48px;
  height: 23.9px;
  z-index: 18;
}
.defLabel {
  font-size: 24px;
  font-family: "Ro GSan Serif Std";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: right;
  position: absolute;
  left: 552px;
  top: 1106px;
  width: 44.48px;
  height: 23.9px;
  z-index: 17;
}
.atkValue {
  font-size: 33.381px;
  font-family: "Ro GSan Serif Std";
  font-style: bold;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: right;
  position: absolute;
  left: 268px;
  top: 1096px;
  width: 125.34px;
  height: 40.5px;
  z-index: 16;
}
.defValue {
  font-size: 33.381px;
  font-family: "Ro GSan Serif Std";
  font-style: bold;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 420.24px;
  top: 1096px;
  width: 125.34px;
  height: 40.5px;
  z-index: 15;
}
.artwork {
  position: absolute;
  left: 42px;
  top: 116px;
  width: 728px;
  height: 733px;
  z-index: 3;
}
.frame {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 813px;
  height: 1185px;
  z-index: 2;
}
.limit {
  position: absolute;
  left: 14px;
  top: 21px;
  width: 171px;
  height: 171px;
  z-index: 56;
}
.legend {
  position: absolute;
  left: 47px;
  top: 123px;
  width: 214px;
  height: 51px;
  z-index: 214;
}
.name--light {
  color: rgb(255, 255, 255);
}