.Card {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 813px;
  height: 1185px;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}
.name {
  font-size: 92px;
  font-family: "MatrixRegularSmallCaps";
  color: rgb(0, 0, 0);
  text-align: justify;
  position: absolute;
  left: 44px;
  top: 60px;
  z-index: 55;
}
.attribute {
  position: absolute;
  left: 665px;
  top: 41px;
  width: 106px;
  height: 106px;
  z-index: 53;
}
.spellTrapType {
  font-size: 32px;
  font-family: "Yu-Gi-Oh!ITCStoneSerifSmallCaps";
  color: rgb(0, 0, 0);
  text-align: left;
  position: absolute;
  left: 95px;
  top: 853.73px;
  width: 536.27px;
  height: 27.38px;
  z-index: 44;
}
.spellTrapIcon {
  position: absolute;
  left: 54px;
  top: 852px;
  width: 38px;
  height: 38px;
  z-index: 40;
}
.spellTrapIconBG {
  position: absolute;
  left: 52px;
  top: 850px;
  width: 40px;
  height: 40px;
  z-index: 39;
}
.spellTrapEffect {
  font-size: 28px;
  font-family: "Yu-Gi-Oh! Matrix Book";
  color: rgba(0, 0, 0, 0.969);
  text-align: justify;
  position: absolute;
  left: 54px;
  top: 898px;
  width: 703px;
  height: 200px;
  z-index: 24;
}
.level5 {
  position: absolute;
  left: 48px;
  top: 760px;
  width: 117px;
  height: 131px;
  z-index: 28;
}
.level4 {
  position: absolute;
  left: 48px;
  top: 760px;
  width: 117px;
  height: 131px;
  z-index: 28;
}
.level3 {
  position: absolute;
  left: 48px;
  top: 760px;
  width: 117px;
  height: 131px;
  z-index: 28;
}
.level2 {
  position: absolute;
  left: 48px;
  top: 760px;
  width: 117px;
  height: 131px;
  z-index: 28;
}
.level1 {
  position: absolute;
  left: 48px;
  top: 760px;
  width: 117px;
  height: 131px;
  z-index: 28;
}
.types {
  font-size: 32px;
  font-family: "Yu-Gi-Oh!ITCStoneSerifSmallCaps";
  color: rgb(0, 0, 0);
  text-align: left;
  position: absolute;
  left: 172.57px;
  top: 853.73px;
  width: 536.27px;
  height: 27.38px;
  z-index: 44;
}
.types .bracket {
  margin: 0 0.1em;
}
.types .separator {
  margin: 0 0.1em;
}
.monsterEffect {
  font-size: 28px;
  font-family: "Yu-Gi-Oh! Matrix Book";
  color: rgba(0, 0, 0, 0.969);
  text-align: justify;
  position: absolute;
  left: 54px;
  top: 898px;
  width: 703px;
  height: 200px;
  z-index: 24;
}
.flavourText {
  font-size: 28px;
  font-family: "Yu-Gi-Oh! StoneSerif LT";
  color: rgba(0, 0, 0, 0.969);
  font-style: italic;
  text-align: justify;
  position: absolute;
  left: 54px;
  top: 898px;
  width: 703px;
  height: 200px;
  z-index: 24;
}
.atkValue {
  font-size: 36px;
  font-family: "RoGSanSrfStd-UB";
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 3px black;
  line-height: 1;
  text-align: right;
  position: absolute;
  left: 252.47px;
  top: 1115px;
  width: 138.19px;
  height: 45px;
  z-index: 16;
}
.defValue {
  font-size: 36px;
  font-family: "RoGSanSrfStd-UB";
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 3px black;
  line-height: 1;
  text-align: right;
  position: absolute;
  left: 417.8px;
  top: 1115px;
  width: 138.19px;
  height: 45px;
  z-index: 15;
}
.artwork {
  position: absolute;
  left: 0px;
  top: 80px;
  width: 813px;
  height: 813px;
  z-index: 1
}
.frame {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 813px;
  height: 1185px;
  z-index: 2;
}
.limit {
  position: absolute;
  left: 14px;
  top: 21px;
  width: 171px;
  height: 171px;
  z-index: 56;
}
.legend {
  position: absolute;
  left: 47px;
  top: 123px;
  width: 214px;
  height: 51px;
  z-index: 214;
}
.name--light {
  color: rgb(255, 255, 255);
}